<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h3><mat-icon>apple</mat-icon>iBlog</h3>
    <div id="links-btn">
      <button mat-button color="accent" class="btn-primary" routerLink="/">
        <mat-icon>home</mat-icon>Home
      </button>
      <button
        mat-button
        color="accent"
        class="btn-primary"
        routerLink="/admin-panel"
      >
        <mat-icon>edit</mat-icon>Admin Panel
      </button>
      <button mat-button color="accent" class="btn-primary" routerLink="/about">
        <mat-icon>info</mat-icon>About
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
